# Copy to .env and update values per environment
EXPO_PUBLIC_APP_NAME=Oval
EXPO_PUBLIC_APP_SLUG=oval-pos
EXPO_PUBLIC_APP_SCHEME=ovalpos
EXPO_PUBLIC_AUTH_BYPASS=true

EXPO_PUBLIC_API_BASE_URL=http://localhost:8000
KEYCLOAK_AUTHORITY=https://identy.getotech.co.ke/realms/tendersafi
KEYCLOAK_CLIENT_ID=oval-frontend
