https://identy.getotech.co.ke {
    reverse_proxy keycloak:8080
    encode gzip
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
}

https://g8-backend.getotech.co.ke {
    reverse_proxy backend:8000
    encode gzip
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
}

https://g8-yatch.getotech.co.ke {
    reverse_proxy frontend:80
    encode gzip
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
}

http://identy.getotech.co.ke, http://g8-backend.getotech.co.ke, http://g8-yatch.getotech.co.ke {
    redir https://{host}{uri}
}
